USE [EduVerse]
GO
/****** Object:  Table [dbo].[Assessments]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessments](
	[AssessmentId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[DueDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[FilePath] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[AssessmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseMaterials]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseMaterials](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[FilePath] [nvarchar](255) NULL,
	[MaterialType] [nvarchar](20) NULL,
	[UploadedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[TeacherId] [int] NULL,
	[IsPaid] [bit] NULL,
	[Price] [decimal](10, 2) NULL,
	[CreatedAt] [datetime] NULL,
	[Thumbnail] [nvarchar](255) NOT NULL,
	[EnrolledCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discussions]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discussions](
	[DiscussionId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NULL,
	[UserId] [int] NULL,
	[Message] [nvarchar](max) NULL,
	[PostedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscussionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NULL,
	[StudentId] [int] NULL,
	[EnrolledOn] [datetime] NULL,
	[PaymentStatus] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Message] [nvarchar](255) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CourseId] [int] NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[TransactionId] [nvarchar](100) NULL,
	[InvoiceUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Progress]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Progress](
	[ProgressId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[CourseId] [int] NULL,
	[CompletionPercentage] [int] NULL,
	[LastAccessed] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizQuestions]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizQuestions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[QuizId] [int] NULL,
	[QuestionText] [nvarchar](max) NULL,
	[OptionA] [nvarchar](255) NULL,
	[OptionB] [nvarchar](255) NULL,
	[OptionC] [nvarchar](255) NULL,
	[OptionD] [nvarchar](255) NULL,
	[CorrectOption] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizSubmissions]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizSubmissions](
	[SubmissionId] [int] IDENTITY(1,1) NOT NULL,
	[QuizId] [int] NULL,
	[StudentId] [int] NULL,
	[SubmittedOn] [datetime] NULL,
	[Score] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizzes]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizzes](
	[QuizId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](20) NULL,
	[EntryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[SubmissionId] [int] IDENTITY(1,1) NOT NULL,
	[AssessmentId] [int] NULL,
	[StudentId] [int] NULL,
	[SubmissionPath] [nvarchar](255) NULL,
	[SubmittedOn] [datetime] NULL,
	[Grade] [nvarchar](10) NULL,
	[Feedback] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRolePasswords]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRolePasswords](
	[UserRolePasswordId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
	[Password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRolePasswordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[AuthProvider] [nvarchar](50) NULL,
	[GoogleId] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assessments] ON 

INSERT [dbo].[Assessments] ([AssessmentId], [CourseId], [Title], [Description], [DueDate], [CreatedAt], [FilePath]) VALUES (8, 2011, N'.net first task', N'complete on time', CAST(N'2025-11-05T00:00:00.000' AS DateTime), CAST(N'2025-11-02T00:03:18.393' AS DateTime), N'/Content/Uploads/Assignments/563.netCheatSheet.jpeg')
INSERT [dbo].[Assessments] ([AssessmentId], [CourseId], [Title], [Description], [DueDate], [CreatedAt], [FilePath]) VALUES (9, 2009, N'1st task ', N'Complete java fisrt task on time', CAST(N'2025-11-06T00:00:00.000' AS DateTime), CAST(N'2025-11-02T00:04:00.730' AS DateTime), N'/Content/Uploads/Assignments/760LatestShailpriyaVermaResume.pdf')
INSERT [dbo].[Assessments] ([AssessmentId], [CourseId], [Title], [Description], [DueDate], [CreatedAt], [FilePath]) VALUES (10, 2010, N'Assignment 1', N'Complete it', CAST(N'2025-11-04T00:00:00.000' AS DateTime), CAST(N'2025-11-02T20:50:24.660' AS DateTime), N'/Content/Uploads/Assignments/712760LatestShailpriyaVermaResume.pdf')
SET IDENTITY_INSERT [dbo].[Assessments] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseMaterials] ON 

INSERT [dbo].[CourseMaterials] ([MaterialId], [CourseId], [Title], [FilePath], [MaterialType], [UploadedAt]) VALUES (1, 2009, N'Pdf material of java course', N'/Content/UploadedCourseMaterials/62430bae-de28-4e86-80b6-8b37fd2be10a.pdf', N'PDF', CAST(N'2025-11-01T14:21:13.963' AS DateTime))
INSERT [dbo].[CourseMaterials] ([MaterialId], [CourseId], [Title], [FilePath], [MaterialType], [UploadedAt]) VALUES (2, 2009, N'video material of course', N'/Content/UploadedCourseMaterials/37147948-93f6-4c66-9632-7c44363983ca.mp4', N'Video', CAST(N'2025-11-01T14:21:13.970' AS DateTime))
INSERT [dbo].[CourseMaterials] ([MaterialId], [CourseId], [Title], [FilePath], [MaterialType], [UploadedAt]) VALUES (3, 2010, N'1st lecture', N'/Content/UploadedCourseMaterials/73c6b2d2-42fc-42ff-ae2c-e9025c8b142a.mp4', N'Video', CAST(N'2025-11-01T14:23:09.657' AS DateTime))
SET IDENTITY_INSERT [dbo].[CourseMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [TeacherId], [IsPaid], [Price], [CreatedAt], [Thumbnail], [EnrolledCount]) VALUES (2009, N'Java', N'Java Full Stack Development Course', 12, 0, NULL, CAST(N'2025-11-01T14:21:13.950' AS DateTime), N'/Content/UploadedCourseMaterials/7f33ecc2-8f07-4f2f-9770-619f766b660c.jpeg', 2)
INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [TeacherId], [IsPaid], [Price], [CreatedAt], [Thumbnail], [EnrolledCount]) VALUES (2010, N'Python', N'Python full course 24 hrs', 12, 1, CAST(1000.00 AS Decimal(10, 2)), CAST(N'2025-11-01T14:23:09.643' AS DateTime), N'/Content/UploadedCourseMaterials/131cafbf-bf85-43ad-a842-790f458191c0.jpeg', 2)
INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [TeacherId], [IsPaid], [Price], [CreatedAt], [Thumbnail], [EnrolledCount]) VALUES (2011, N'.NET', N'Full Course', 13, 0, NULL, CAST(N'2025-11-01T23:27:11.003' AS DateTime), N'/Content/UploadedCourseMaterials/2c456a4f-d00c-4e57-8098-77554273f3ec.jpeg', 0)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentId], [CourseId], [StudentId], [EnrolledOn], [PaymentStatus]) VALUES (1, 2009, 12, CAST(N'2025-11-01T14:27:44.727' AS DateTime), N'Free')
INSERT [dbo].[Enrollments] ([EnrollmentId], [CourseId], [StudentId], [EnrolledOn], [PaymentStatus]) VALUES (2, 2010, 12, CAST(N'2025-11-01T14:27:49.513' AS DateTime), N'Paid')
INSERT [dbo].[Enrollments] ([EnrollmentId], [CourseId], [StudentId], [EnrolledOn], [PaymentStatus]) VALUES (3, 2009, 14, CAST(N'2025-11-01T23:20:47.050' AS DateTime), N'Free')
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [UserId], [CourseId], [Amount], [PaymentDate], [PaymentStatus], [PaymentMethod], [TransactionId], [InvoiceUrl]) VALUES (1, 12, 2010, CAST(1000.00 AS Decimal(10, 2)), CAST(N'2025-11-01T14:29:00.997' AS DateTime), N'Paid', NULL, N'2926c126-2a6f-4671-9973-876142aba609', NULL)
INSERT [dbo].[Payments] ([PaymentId], [UserId], [CourseId], [Amount], [PaymentDate], [PaymentStatus], [PaymentMethod], [TransactionId], [InvoiceUrl]) VALUES (2, 14, 2010, CAST(1000.00 AS Decimal(10, 2)), CAST(N'2025-11-02T00:05:37.680' AS DateTime), N'Paid', NULL, N'0cc39892-38d6-437f-9327-369c27caf96f', NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([RoleId], [RoleName], [EntryDate]) VALUES (1, N'Admin', CAST(N'2025-02-16T23:48:19.503' AS DateTime))
INSERT [dbo].[role] ([RoleId], [RoleName], [EntryDate]) VALUES (2, N'Student', CAST(N'2025-02-16T23:48:19.503' AS DateTime))
INSERT [dbo].[role] ([RoleId], [RoleName], [EntryDate]) VALUES (3, N'Instructor', CAST(N'2025-02-16T23:48:19.503' AS DateTime))
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[Submissions] ON 

INSERT [dbo].[Submissions] ([SubmissionId], [AssessmentId], [StudentId], [SubmissionPath], [SubmittedOn], [Grade], [Feedback]) VALUES (1, 9, 14, N'/Content/Uploads/SubmittedAssignments/59941757035354645.pdf', CAST(N'2025-11-02T14:49:29.863' AS DateTime), NULL, NULL)
INSERT [dbo].[Submissions] ([SubmissionId], [AssessmentId], [StudentId], [SubmissionPath], [SubmittedOn], [Grade], [Feedback]) VALUES (2, 9, 12, N'/Content/Uploads/SubmittedAssignments/1043su-vastika-retrofit-lithium-ba-20240928032606160.jpeg', CAST(N'2025-11-02T20:48:34.760' AS DateTime), N'10', N'Very good')
INSERT [dbo].[Submissions] ([SubmissionId], [AssessmentId], [StudentId], [SubmissionPath], [SubmittedOn], [Grade], [Feedback]) VALUES (3, 10, 12, N'/Content/Uploads/SubmittedAssignments/1290sql_interview.pdf', CAST(N'2025-11-02T20:51:21.737' AS DateTime), N'9', N'Good Work')
SET IDENTITY_INSERT [dbo].[Submissions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRolePasswords] ON 

INSERT [dbo].[UserRolePasswords] ([UserRolePasswordId], [UserId], [RoleId], [Password]) VALUES (5, 12, 2, N'shail768')
INSERT [dbo].[UserRolePasswords] ([UserRolePasswordId], [UserId], [RoleId], [Password]) VALUES (6, 12, 3, N'shail1234')
INSERT [dbo].[UserRolePasswords] ([UserRolePasswordId], [UserId], [RoleId], [Password]) VALUES (7, 13, 3, N'nisha1234')
SET IDENTITY_INSERT [dbo].[UserRolePasswords] OFF
GO
INSERT [dbo].[UserRoles] ([UserID], [RoleID]) VALUES (12, 2)
INSERT [dbo].[UserRoles] ([UserID], [RoleID]) VALUES (12, 3)
INSERT [dbo].[UserRoles] ([UserID], [RoleID]) VALUES (13, 2)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [CreatedAt], [AuthProvider], [GoogleId]) VALUES (12, N'Shailpriya Verma', N'shailpriyav222@gmail.com', CAST(N'2025-04-29T20:34:46.930' AS DateTime), N'Manual', NULL)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [CreatedAt], [AuthProvider], [GoogleId]) VALUES (13, N'Nisha Bano', N'nishabano9559@gmail.com', CAST(N'2025-05-01T01:47:08.153' AS DateTime), N'Manual', NULL)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [CreatedAt], [AuthProvider], [GoogleId]) VALUES (14, N'Sneha', N'snehass1452@gmail.com', CAST(N'2025-05-03T11:59:25.797' AS DateTime), N'Manual', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053414D89E79]    Script Date: 03-12-2025 19:47:08 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assessments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CourseMaterials] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ('~/Content/UploadedCourseMaterials/images (8)') FOR [Thumbnail]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [EnrolledCount]
GO
ALTER TABLE [dbo].[Discussions] ADD  DEFAULT (getdate()) FOR [PostedOn]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrolledOn]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[QuizSubmissions] ADD  DEFAULT (getdate()) FOR [SubmittedOn]
GO
ALTER TABLE [dbo].[Quizzes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Submissions] ADD  CONSTRAINT [DF_Submissions_Grade]  DEFAULT (NULL) FOR [Grade]
GO
ALTER TABLE [dbo].[Submissions] ADD  CONSTRAINT [DF_Submissions_Feedback]  DEFAULT (NULL) FOR [Feedback]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Manual') FOR [AuthProvider]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[CourseMaterials]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Discussions]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Discussions]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Progress]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Progress]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[QuizQuestions]  WITH CHECK ADD FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([QuizId])
GO
ALTER TABLE [dbo].[QuizSubmissions]  WITH CHECK ADD FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([QuizId])
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD FOREIGN KEY([AssessmentId])
REFERENCES [dbo].[Assessments] ([AssessmentId])
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRolePasswords]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[role] ([RoleId])
GO
ALTER TABLE [dbo].[UserRolePasswords]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[role] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserId])
GO
/****** Object:  StoredProcedure [dbo].[proc_EnrollCourse]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_EnrollCourse]
    @CourseId INT,
    @StudentId NVARCHAR(100),
    @PaymentStatus NVARCHAR(50)
AS
BEGIN
	 
	if exists(select 1 from Enrollments where CourseId=@CourseId and StudentId=@StudentId)
	begin 
		return -1
	end

    INSERT INTO Enrollments (CourseId, StudentId, EnrolledOn, PaymentStatus)
    VALUES (@CourseId, @StudentId, GETDATE(), @PaymentStatus)

	-- Increment enrolled count
    UPDATE Courses
    SET EnrolledCount = ISNULL(EnrolledCount, 0) + 1
    WHERE CourseId = @CourseId;

	return 1
END










GO
/****** Object:  StoredProcedure [dbo].[proc_get_courses_by_instructor]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_get_courses_by_instructor]
    @InstructorId INT=0
AS
BEGIN
    SELECT CourseId, Title
    FROM Courses
    WHERE TeacherId = @InstructorId
END
GO
/****** Object:  StoredProcedure [dbo].[proc_GetAllCourses]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_GetAllCourses]
AS
BEGIN
    SELECT 
        c.CourseId,
        c.Title,
        c.Price,
        c.IsPaid,
        c.Thumbnail,
        u.FullName AS InstructorName
    FROM Courses c
    INNER JOIN Users u ON c.TeacherId = u.UserId
    INNER JOIN UserRoles ur ON u.UserId = ur.UserID
    INNER JOIN role r ON ur.RoleID = r.RoleId
    WHERE r.RoleName = 'Instructor'
END
GO
/****** Object:  StoredProcedure [dbo].[proc_GetAssignmentByStudentId]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_GetAssignmentByStudentId]
    @st_id INT = 0
AS
BEGIN
    SELECT 
        a.[AssessmentId],
        a.[CourseId],
        a.[Title],
        a.[Description],
        a.[DueDate],
        a.[CreatedAt],
        a.[FilePath],
        CASE WHEN s.SubmissionId IS NOT NULL THEN 1 ELSE 0 END AS IsSubmitted
    FROM Enrollments e
    JOIN Courses c ON e.CourseId = c.CourseId
    JOIN Assessments a ON a.CourseId = e.CourseId
    LEFT JOIN Submissions s ON s.AssessmentId = a.AssessmentId AND s.StudentId = e.StudentId
    WHERE e.StudentId = @st_id
    ORDER BY a.[AssessmentId] DESC
END
GO
/****** Object:  StoredProcedure [dbo].[proc_GetCourseDetailByCourseId]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_GetCourseDetailByCourseId]
    @CourseId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.CourseId,
        c.Title,
        c.Description,
        c.Thumbnail AS ThumbnailPath,
        u.FullName AS InstructorName,
        e.EnrolledOn,
        e.PaymentStatus,
        cm.MaterialId,
        cm.Title AS MaterialTitle,
        cm.FilePath,
        cm.MaterialType,
        cm.UploadedAt
    FROM Courses c
    LEFT JOIN Enrollments e ON c.CourseId = e.CourseId
    INNER JOIN Users u ON c.TeacherId = u.UserId
    INNER JOIN UserRoles ur ON u.UserId = ur.UserID
    INNER JOIN Role r ON ur.RoleID = r.RoleId AND r.RoleName = 'Instructor'
    LEFT JOIN CourseMaterials cm ON c.CourseId = cm.CourseId
    WHERE c.CourseId = @CourseId;
END
GO
/****** Object:  StoredProcedure [dbo].[proc_getCourseDetailsByInstructorId]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proc_getCourseDetailsByInstructorId]
@id int=0
as
begin
	select CourseId,Title,Description,CreatedAt from Courses where TeacherId=@id
end
GO
/****** Object:  StoredProcedure [dbo].[proc_GetCoursesByInstructorId]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_GetCoursesByInstructorId]
@Ins_id int=0
as
begin
	select [CourseId]
      ,[Title]
      ,[Description]
      ,[Price]
      ,[CreatedAt]
      ,[EnrolledCount]
	  from Courses where [TeacherId] = @Ins_id
end
GO
/****** Object:  StoredProcedure [dbo].[proc_GetCoursesByStudentId]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_GetCoursesByStudentId]
    @StudentId INT
AS
BEGIN
    SELECT 
        c.CourseId,
        c.Title,
        c.Description,
        c.Thumbnail,
        c.CreatedAt,
        u.FullName AS InstructorName,
        e.EnrolledOn,
        e.PaymentStatus
    FROM Enrollments e
    INNER JOIN Courses c ON e.CourseId = c.CourseId
    INNER JOIN Users u ON c.TeacherId = u.UserId
    INNER JOIN UserRoles ur ON u.UserId = ur.UserID
    INNER JOIN role r ON ur.RoleID = r.RoleId
    WHERE e.StudentId = @StudentId
      AND r.RoleName = 'Instructor'
END
GO
/****** Object:  StoredProcedure [dbo].[proc_GetPasswordHash]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_GetPasswordHash]
    @Email NVARCHAR(100),
    @RoleId INT
AS
BEGIN
    SELECT urp.PasswordHash, u.UserId, u.FullName, u.Email
    FROM Users u
    INNER JOIN UserRolePasswords urp ON u.UserId = urp.UserId
    WHERE u.Email = @Email AND urp.RoleId = @RoleId
END
GO
/****** Object:  StoredProcedure [dbo].[proc_GetSubmissionsByInstructorId]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_GetSubmissionsByInstructorId]
    @InstructorId INT
AS
BEGIN
    SELECT 
        s.SubmissionId,
        s.AssessmentId,
        s.StudentId,
		c.Title As CourseName,
        st.FullName AS StudentName,
        a.Title AS AssessmentTitle,
        a.DueDate,
        s.SubmittedOn,
        s.SubmissionPath,
        s.Grade,
        s.Feedback
    FROM Submissions s
    INNER JOIN Assessments a ON s.AssessmentId = a.AssessmentId
    INNER JOIN Enrollments e ON s.StudentId = e.StudentId AND a.CourseId = e.CourseId
    INNER JOIN Users st ON s.StudentId = st.UserId
	join Courses c on c.CourseId=a.CourseId
    WHERE c.TeacherId = @InstructorId   -- Assuming 'CreatedBy' stores instructor ID in Assessments
    ORDER BY s.SubmittedOn DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_insert_assignment]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[proc_insert_assignment]
    @CourseId INT=0,
    @Title NVARCHAR(200)=null,
    @Description NVARCHAR(MAX)=null,
    @DueDate DATETIME=null,
    @FilePath NVARCHAR(500)=null
AS
BEGIN

    INSERT INTO Assessments
    (
        CourseId,
        Title,
        Description,
        DueDate,
        FilePath,
        CreatedAt
    )
    VALUES
    (
        @CourseId,
        @Title,
        @Description,
        @DueDate,
        @FilePath,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_InsertCourse_Old]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_InsertCourse_Old]
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @TeacherId INT,
    @IsPaid BIT,
    @Price DECIMAL(10, 2),
    @MaterialTitle NVARCHAR(200) = NULL,
    @MaterialPath NVARCHAR(500) = NULL,
    @MaterialType NVARCHAR(50) = NULL,
	@Thumbnail NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Courses (Title, Description, TeacherId, IsPaid, Price, CreatedAt,Thumbnail)
    VALUES (@Title, @Description, @TeacherId, @IsPaid, @Price, GETDATE(),@Thumbnail);

    DECLARE @CourseId INT = SCOPE_IDENTITY();

	INSERT INTO CourseMaterials (CourseId, Title, FilePath, MaterialType, UploadedAt)
    VALUES (@CourseId, @MaterialTitle, @MaterialPath, @MaterialType, GETDATE());
    

	SELECT 1 AS Status, 'Course Inserted Successfully!' AS Message;

END
GO
/****** Object:  StoredProcedure [dbo].[proc_InsertCourseMaterial]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertCourseMaterial]
    @CourseId INT=0,
    @Title NVARCHAR(200)=null,
    @FilePath NVARCHAR(500)=null,
    @MaterialType NVARCHAR(50)=null
AS
BEGIN
    INSERT INTO CourseMaterials (CourseId, Title, FilePath, MaterialType, UploadedAt)
    VALUES (@CourseId, @Title, @FilePath, @MaterialType, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[proc_InsertPayment]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_InsertPayment]
    @UserId INT=null,
    @CourseId INT=null,
    @Amount DECIMAL(10, 2),
    @PaymentStatus VARCHAR(20)=null,
    @TransactionId VARCHAR(100)=null
AS
BEGIN
    INSERT INTO Payments (UserId, CourseId, Amount, PaymentDate, PaymentStatus, TransactionId)
    VALUES (@UserId, @CourseId, @Amount, GETDATE(), @PaymentStatus, @TransactionId)
END
GO
/****** Object:  StoredProcedure [dbo].[proc_Login]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_Login]
    @Email NVARCHAR(100),
    @Password NVARCHAR(255),
	@roleid int
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserId INT;
    DECLARE @FullName NVARCHAR(100);

    -- Step 1: Find user by email
    SELECT @UserId = UserId, @FullName = FullName
    FROM Users
    WHERE Email = @Email;


    -- Step 2: If user not found
    IF @UserId IS NULL
    BEGIN
        SELECT -1 AS Status, 'You are not registered yet!!' AS Message;
        RETURN;
    END

    -- Step 3: Check if any role has this password
    IF NOT EXISTS (
        SELECT * FROM UserRolePasswords
        WHERE UserId = @UserId AND RoleId=@roleid AND Password=@Password
    )
    BEGIN
        SELECT -2 AS Status, 'Invalid email or password!' AS Message;
        RETURN;
    END
    -- Step 4: Return all roles for the user
    SELECT 
		1 AS Status,
		'Login Successful!' AS Message,
		@FullName AS FullName,
		@UserId As UserId
   
END



GO
/****** Object:  StoredProcedure [dbo].[proc_Register]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_Register]
    @action NVARCHAR(50),
    @roleid INT,
    @name NVARCHAR(100),
    @email NVARCHAR(100),
    @password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @userId INT;

    IF @action = 'Register'
    BEGIN
        -- Check if user exists
        SELECT @userId = UserId FROM Users WHERE Email = @email;

        IF @userId IS NULL
        BEGIN
            -- Insert new user
            INSERT INTO Users (FullName, Email)
            VALUES (@name, @email);

            SET @userId = SCOPE_IDENTITY();
        END

        -- Check if user already has this role
        IF EXISTS (
            SELECT 1 FROM UserRoles WHERE UserID = @userId AND RoleID = @roleid
        )
        BEGIN
            RETURN -1; -- Already assigned
        END

        -- Insert into UserRoles
        INSERT INTO UserRoles (UserID, RoleID)
        VALUES (@userId, @roleid);

        -- Insert into UserRolePasswords
        INSERT INTO UserRolePasswords (UserId, RoleId, Password)
        VALUES (@userId, @roleid, @password);

        RETURN 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[proc_ResetUserPassword]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_ResetUserPassword]
    @Email NVARCHAR(100) = NULL,
    @NewPassword NVARCHAR(100) = NULL,
    @RoleId INT = NULL
AS
BEGIN
    DECLARE @UserId INT;

    -- Get UserId from Users table using Email
    SELECT @UserId = UserId FROM Users WHERE Email = @Email;

    -- Update password in UserRolePasswords where UserId and RoleId match
    UPDATE UserRolePasswords
    SET Password = @NewPassword
    WHERE UserId = @UserId AND RoleId = @RoleId;
END
GO
/****** Object:  StoredProcedure [dbo].[proc_SaveCourseBasic]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_SaveCourseBasic]
    @Title NVARCHAR(200)=null,
    @Description NVARCHAR(MAX)=null,
    @TeacherId INT=0,
    @IsPaid BIT,
    @Price DECIMAL(10,2) = NULL,
    @Thumbnail NVARCHAR(500)=null,
    @CourseId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Courses (Title, Description, TeacherId, IsPaid, Price, CreatedAt, Thumbnail)
    VALUES (@Title, @Description, @TeacherId, @IsPaid, @Price, GETDATE(), @Thumbnail);

    SET @CourseId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[proc_SubmitAssignment]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_SubmitAssignment]
  @StudentId int=0,
  @AssessmentId int=0,
  @SubmissionPath varchar(500)=null
  as
  begin
	insert into Submissions([AssessmentId]
      ,[StudentId]
      ,[SubmissionPath]
      ,[SubmittedOn])
	  values(@AssessmentId,@StudentId,@SubmissionPath,getdate())
  end
GO
/****** Object:  StoredProcedure [dbo].[proc_UpdateEnrollmentStatus]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_UpdateEnrollmentStatus]
    @CourseId INT,
    @StudentId INT,
    @PaymentStatus NVARCHAR(50)
AS
BEGIN
    UPDATE Enrollments
    SET PaymentStatus = @PaymentStatus
    WHERE CourseId = @CourseId AND StudentId = @StudentId
END
GO
/****** Object:  StoredProcedure [dbo].[proc_UpdatePaymentStatus]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_UpdatePaymentStatus]
    @TransactionId NVARCHAR(100),
    @PaymentStatus NVARCHAR(50)
AS
BEGIN
    UPDATE Payments
    SET PaymentStatus = @PaymentStatus,
        PaymentDate = GETDATE()
    WHERE TransactionId = @TransactionId
END
GO
/****** Object:  StoredProcedure [dbo].[proc_UpdateSubmissionGradeFeedback]    Script Date: 03-12-2025 19:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_UpdateSubmissionGradeFeedback]
    @SubmissionId INT,
    @Grade VARCHAR(10),
    @Feedback NVARCHAR(500)
AS
BEGIN
    UPDATE Submissions
    SET 
        Grade = @Grade,
        Feedback = @Feedback
    WHERE SubmissionId = @SubmissionId;
END
GO
